In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
data=pd.read_csv(r"C:\Users\Saikat\1st python project from anaconda\marvel movie data set\marvel.csv")

In [4]:
data

,Title,Distributor(s),Release date(United States),Bud�get (mil�lions),Opening weekend(North America),North America,Other territories,Worldwide
0,Howard the Duck,Universal Pictures,August 1 1986,$37,$5070136,$16295774,$21667000,$37962774
1,Blade,New Line Cinema,August 21 1998,$45,$17073856,$70087718,$61095812,$131183530
2,X-Men,20th Century Fox,July 14 2000,$75,$54471475,$157299717,$139039810,$296339527
3,Blade II,New Line Cinema,March 22 2002,$54,$32528016,$82348319,$72661713,$155010032
4,Spider-Man,Sony Pictures,May 3 2002,$139,$114844116,$403706375,$418002176,$821708551
...,...,...,...,...,...,...,...,...
61,Venom: Let There Be Carnage,Sony Pictures,October 1 2021,$110,$90033210,$213550366,$288500000,$502050366
62,Eternals,Walt Disney Studios Motion Pictures,November 5 2021,$200,$85021497,$164870234,$237194665,$402064899
63,Spider-Man: No Way Home,Sony Pictures,December 17 2021,$200,$260138569,$780418859,$1072000000,$1852418859
64,Total,Total,Total,$8424,$5688487114,$15809734872,$24430137918,$40239878672
65,Average,Average,Average,$142.352,$83992268,$228139366,$344915384,$573054859

cleaning the dataset

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Title                           66 non-null     object
 1   Distributor(s)                  66 non-null     object
 2   Release date(United States)     66 non-null     object
 3   Bud�get (mil�lions)             65 non-null     object
 4   Opening weekend(North America)  66 non-null     object
 5   North America                   66 non-null     object
 6   Other territories               66 non-null     object
 7   Worldwide                       66 non-null     object
dtypes: object(8)
memory usage: 4.2+ KB

In [6]:
data.describe

<bound method NDFrame.describe of                           Title                       Distributor(s)  \
0               Howard the Duck                   Universal Pictures
1                         Blade                      New Line Cinema
2                         X-Men                     20th Century Fox
3                      Blade II                      New Line Cinema
4                    Spider-Man                        Sony Pictures
..                          ...                                  ...
61  Venom: Let There Be Carnage                        Sony Pictures
62                     Eternals  Walt Disney Studios Motion Pictures
63      Spider-Man: No Way Home                        Sony Pictures
64                        Total                                Total
65                      Average                              Average

   Release date(United States) Bud�get (mil�lions)  \
0                August 1 1986                 $37
1               August 21 1998                 $45
2                 July 14 2000                 $75
3                March 22 2002                 $54
4                   May 3 2002                $139
..                         ...                 ...
61              October 1 2021                $110
62             November 5 2021                $200
63            December 17 2021                $200
64                       Total               $8424
65                     Average            $142.352

   Opening weekend(North America) North America Other territories  \
0                        $5070136     $16295774         $21667000
1                       $17073856     $70087718         $61095812
2                       $54471475    $157299717        $139039810
3                       $32528016     $82348319         $72661713
4                      $114844116    $403706375        $418002176
..                            ...           ...               ...
61                      $90033210    $213550366        $288500000
62                      $85021497    $164870234        $237194665
63                     $260138569    $780418859       $1072000000
64                    $5688487114  $15809734872      $24430137918
65                      $83992268    $228139366        $344915384

       Worldwide
0      $37962774
1     $131183530
2     $296339527
3     $155010032
4     $821708551
..           ...
61    $502050366
62    $402064899
63   $1852418859
64  $40239878672
65    $573054859

[66 rows x 8 columns]>

In [7]:
data.describe()

,Title,Distributor(s),Release date(United States),Bud�get (mil�lions),Opening weekend(North America),North America,Other territories,Worldwide
count,66,66,66,65,66,66,66,66
unique,65,11,66,41,66,66,66,66
top,Fantastic Four,Walt Disney Studios Motion Pictures,July 26 2013,$200,$32528016,$678815482,$390518532,$432243292
freq,2,20,1,10,1,1,1,1

In [8]:
# removing last two rows as it has no significance
data=data[:64]

In [9]:
data

,Title,Distributor(s),Release date(United States),Bud�get (mil�lions),Opening weekend(North America),North America,Other territories,Worldwide
0,Howard the Duck,Universal Pictures,August 1 1986,$37,$5070136,$16295774,$21667000,$37962774
1,Blade,New Line Cinema,August 21 1998,$45,$17073856,$70087718,$61095812,$131183530
2,X-Men,20th Century Fox,July 14 2000,$75,$54471475,$157299717,$139039810,$296339527
3,Blade II,New Line Cinema,March 22 2002,$54,$32528016,$82348319,$72661713,$155010032
4,Spider-Man,Sony Pictures,May 3 2002,$139,$114844116,$403706375,$418002176,$821708551
...,...,...,...,...,...,...,...,...
59,Black Widow,Walt Disney Studios Motion Pictures,July 9 2021,$200,$80366312,$183651665,$195979696,$379631351
60,Shang-Chi and the Legend of the Ten Rings,Walt Disney Studios Motion Pictures,September 3 2021,$150,$75388688,$224543292,$207700000,$432243292
61,Venom: Let There Be Carnage,Sony Pictures,October 1 2021,$110,$90033210,$213550366,$288500000,$502050366
62,Eternals,Walt Disney Studios Motion Pictures,November 5 2021,$200,$85021497,$164870234,$237194665,$402064899
63,Spider-Man: No Way Home,Sony Pictures,December 17 2021,$200,$260138569,$780418859,$1072000000,$1852418859

In [10]:
data.columns

Index(['Title', 'Distributor(s)', 'Release date(United States)',
       'Bud�get (mil�lions)', 'Opening weekend(North America)',
       'North America', 'Other territories', 'Worldwide'],
      dtype='object')

In [11]:
data.columns=['Title', 'Distributor', 'Release date(US)','Budget (millions)', 'Opening weekend(North America)','North America', 'Other territories', 'Worldwide']

In [12]:
data

,Title,Distributor,Release date(US),Budget (millions),Opening weekend(North America),North America,Other territories,Worldwide
0,Howard the Duck,Universal Pictures,August 1 1986,$37,$5070136,$16295774,$21667000,$37962774
1,Blade,New Line Cinema,August 21 1998,$45,$17073856,$70087718,$61095812,$131183530
2,X-Men,20th Century Fox,July 14 2000,$75,$54471475,$157299717,$139039810,$296339527
3,Blade II,New Line Cinema,March 22 2002,$54,$32528016,$82348319,$72661713,$155010032
4,Spider-Man,Sony Pictures,May 3 2002,$139,$114844116,$403706375,$418002176,$821708551
...,...,...,...,...,...,...,...,...
59,Black Widow,Walt Disney Studios Motion Pictures,July 9 2021,$200,$80366312,$183651665,$195979696,$379631351
60,Shang-Chi and the Legend of the Ten Rings,Walt Disney Studios Motion Pictures,September 3 2021,$150,$75388688,$224543292,$207700000,$432243292
61,Venom: Let There Be Carnage,Sony Pictures,October 1 2021,$110,$90033210,$213550366,$288500000,$502050366
62,Eternals,Walt Disney Studios Motion Pictures,November 5 2021,$200,$85021497,$164870234,$237194665,$402064899
63,Spider-Man: No Way Home,Sony Pictures,December 17 2021,$200,$260138569,$780418859,$1072000000,$1852418859

In [13]:
data['Title']=data['Title'].astype('string')
data['Distributor']=data['Distributor'].astype('string')

<ipython-input-13-4a0e07eebe63>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Title']=data['Title'].astype('string')
<ipython-input-13-4a0e07eebe63>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Distributor']=data['Distributor'].astype('string')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Title                           64 non-null     string
 1   Distributor                     64 non-null     string
 2   Release date(US)                64 non-null     object
 3   Budget (millions)               63 non-null     object
 4   Opening weekend(North America)  64 non-null     object
 5   North America                   64 non-null     object
 6   Other territories               64 non-null     object
 7   Worldwide                       64 non-null     object
dtypes: object(6), string(2)
memory usage: 4.1+ KB

In [15]:
data['Release date(US)']=pd.to_datetime(data['Release date(US)'])

<ipython-input-15-838860e8514e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Release date(US)']=pd.to_datetime(data['Release date(US)'])

In [16]:
data

,Title,Distributor,Release date(US),Budget (millions),Opening weekend(North America),North America,Other territories,Worldwide
0,Howard the Duck,Universal Pictures,1986-08-01,$37,$5070136,$16295774,$21667000,$37962774
1,Blade,New Line Cinema,1998-08-21,$45,$17073856,$70087718,$61095812,$131183530
2,X-Men,20th Century Fox,2000-07-14,$75,$54471475,$157299717,$139039810,$296339527
3,Blade II,New Line Cinema,2002-03-22,$54,$32528016,$82348319,$72661713,$155010032
4,Spider-Man,Sony Pictures,2002-05-03,$139,$114844116,$403706375,$418002176,$821708551
...,...,...,...,...,...,...,...,...
59,Black Widow,Walt Disney Studios Motion Pictures,2021-07-09,$200,$80366312,$183651665,$195979696,$379631351
60,Shang-Chi and the Legend of the Ten Rings,Walt Disney Studios Motion Pictures,2021-09-03,$150,$75388688,$224543292,$207700000,$432243292
61,Venom: Let There Be Carnage,Sony Pictures,2021-10-01,$110,$90033210,$213550366,$288500000,$502050366
62,Eternals,Walt Disney Studios Motion Pictures,2021-11-05,$200,$85021497,$164870234,$237194665,$402064899
63,Spider-Man: No Way Home,Sony Pictures,2021-12-17,$200,$260138569,$780418859,$1072000000,$1852418859

In [17]:
data['Budget (millions)']=data['Budget (millions)'].str.replace(r'\D+','',regex=True).astype('float')
data['Opening weekend(North America)']=data['Opening weekend(North America)'].str.replace(r'\D+','',regex=True).astype('float')
data['North America']=data['North America'].str.replace(r'\D+','',regex=True).astype('float')
data['Other territories']=data['Other territories'].str.replace(r'\D+','',regex=True).astype('float')
data['Worldwide']=data['Worldwide'].str.replace(r'\D+','',regex=True).astype('float')

<ipython-input-17-7f358fd9d759>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Budget (millions)']=data['Budget (millions)'].str.replace(r'\D+','',regex=True).astype('float')
<ipython-input-17-7f358fd9d759>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Opening weekend(North America)']=data['Opening weekend(North America)'].str.replace(r'\D+','',regex=True).astype('float')
<ipython-input-17-7f358fd9d759>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['North America']=data['North America'].str.replace(r'\D+','',regex=True).astype('float')
<ipython-input-17-7f358fd9d759>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Other territories']=data['Other territories'].str.replace(r'\D+','',regex=True).astype('float')
<ipython-input-17-7f358fd9d759>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Worldwide']=data['Worldwide'].str.replace(r'\D+','',regex=True).astype('float')

In [18]:
data=data.fillna(0)

In [19]:
data

,Title,Distributor,Release date(US),Budget (millions),Opening weekend(North America),North America,Other territories,Worldwide
0,Howard the Duck,Universal Pictures,1986-08-01,37.0,5070136.0,16295774.0,2.166700e+07,3.796277e+07
1,Blade,New Line Cinema,1998-08-21,45.0,17073856.0,70087718.0,6.109581e+07,1.311835e+08
2,X-Men,20th Century Fox,2000-07-14,75.0,54471475.0,157299717.0,1.390398e+08,2.963395e+08
3,Blade II,New Line Cinema,2002-03-22,54.0,32528016.0,82348319.0,7.266171e+07,1.550100e+08
4,Spider-Man,Sony Pictures,2002-05-03,139.0,114844116.0,403706375.0,4.180022e+08,8.217086e+08
...,...,...,...,...,...,...,...,...
59,Black Widow,Walt Disney Studios Motion Pictures,2021-07-09,200.0,80366312.0,183651665.0,1.959797e+08,3.796314e+08
60,Shang-Chi and the Legend of the Ten Rings,Walt Disney Studios Motion Pictures,2021-09-03,150.0,75388688.0,224543292.0,2.077000e+08,4.322433e+08
61,Venom: Let There Be Carnage,Sony Pictures,2021-10-01,110.0,90033210.0,213550366.0,2.885000e+08,5.020504e+08
62,Eternals,Walt Disney Studios Motion Pictures,2021-11-05,200.0,85021497.0,164870234.0,2.371947e+08,4.020649e+08
63,Spider-Man: No Way Home,Sony Pictures,2021-12-17,200.0,260138569.0,780418859.0,1.072000e+09,1.852419e+09

In [20]:
data.describe()

,Budget (millions),Opening weekend(North America),North America,Other territories,Worldwide
count,64.000000,6.400000e+01,6.400000e+01,6.400000e+01,6.400000e+01
mean,148.156250,9.014824e+07,2.470271e+08,3.820033e+08,6.290544e+08
std,70.539692,6.741286e+07,1.845656e+08,3.422534e+08,5.152216e+08
min,0.000000,1.500000e+06,1.521787e+06,1.330495e+06,2.852282e+06
25%,100.000000,5.413204e+07,1.324575e+08,1.622535e+08,2.881115e+08
50%,150.000000,8.269390e+07,2.135329e+08,3.000000e+08,5.316230e+08
75%,200.000000,1.153900e+08,3.334327e+08,4.984571e+08,7.971595e+08
max,356.000000,3.571150e+08,8.583730e+08,1.937901e+09,2.797801e+09

In [21]:
data.corr()

,Budget (millions),Opening weekend(North America),North America,Other territories,Worldwide
Budget (millions),1.000000,0.769557,0.716768,0.768289,0.767265
Opening weekend(North America),0.769557,1.000000,0.961622,0.927357,0.960693
North America,0.716768,0.961622,1.000000,0.903511,0.958569
Other territories,0.768289,0.927357,0.903511,1.000000,0.988159
Worldwide,0.767265,0.960693,0.958569,0.988159,1.000000

In [22]:
x=data.iloc[:,[3,4,5,6]]
y=data['Worldwide']

In [23]:
x

,Budget (millions),Opening weekend(North America),North America,Other territories
0,37.0,5070136.0,16295774.0,2.166700e+07
1,45.0,17073856.0,70087718.0,6.109581e+07
2,75.0,54471475.0,157299717.0,1.390398e+08
3,54.0,32528016.0,82348319.0,7.266171e+07
4,139.0,114844116.0,403706375.0,4.180022e+08
...,...,...,...,...
59,200.0,80366312.0,183651665.0,1.959797e+08
60,150.0,75388688.0,224543292.0,2.077000e+08
61,110.0,90033210.0,213550366.0,2.885000e+08
62,200.0,85021497.0,164870234.0,2.371947e+08
63,200.0,260138569.0,780418859.0,1.072000e+09

In [24]:
type(y)

pandas.core.series.Series

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [26]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

In [27]:
reg.fit(x_train,y_train)
coef=reg.coef_
intercept=reg.intercept_

In [28]:
print(coef,intercept)

[-8.14523697e-01 -3.85253442e-07  9.99998733e-01  1.00000085e+00] 295.427193403244

In [29]:
y_pred=reg.predict(x_test)

In [30]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9999997295480351

In [31]:
# def delete(a):
#     b=a[1:]
#     return b

In [32]:
# strip of string :: map and labda

In [33]:
# regex